body {
	font-family: sans-serif;
}
.title {
	display: flex;
	padding: 0px;
	list-style: none;
}

.title li:hover{
	background-color: #6ffffc;
}
.info {
	position: relative;
	color: blue;
}
.info:hover .sub-info{
	display: block;
}
.sub-info {
	list-style: none;
	padding: 0;
	position: absolute;
	top: 100%;
	left: 0;
	background-color: #AAA;
	display: none;
}
/*-----------------------------*/
.about {
	position: relative;
}

.about:hover .sub-about{
	display: block;
}

.sub-about {
	list-style: none;
	padding: 0;
	position: absolute;
	top: 100%;
	left: 0;
	background-color: #BBB;
	display: none;
}
/*-----------------------------*/
a:link {
 	padding: 8px 18px;
 	color: red;
  	text-align: center;
  	text-decoration: none;
 	display: inline-block;
}
.menu {
	position: relative;
}
.menu:hover .sub-menu{
	display: block;
}
.sub-menu {
	list-style: none;
	padding: 0;
	position: absolute;
	top: 100%;
	left: 0;
	background-color: #CCC;
	display: none;
}